<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Allergen-Checker", root_path, class: "navbar-brand", id:"logo" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="link-desc"><%= link_to "List All Allergens", root_path %></li>
        <li id="link-desc"><%= link_to "List All Products", products_path %></li>
        <li id="link-desc"><%= link_to "Add an Allergen", new_allergen_path %></li>
        <li id="link-desc"><%= link_to "Add a Product", new_product_path %></li>
      </ul>
<!--  Search -->
      <%= form_tag(search_search_path, :method => "get",   
          class: 'navbar-form navbar-right') do %>  
        <div class="input-group">  
          <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
          <div class="input-group-btn">  
            <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
          </div>  
        </div>  
      <% end %>


<!-- 
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Product Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
-->
<!--  End Search -->
      
<!-- Single button dropdown-->
<!--  
      <div class="btn-group">
        <button type="button" class="btn btn-danger btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Allergens <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/allergens">View all Allergens</a></li>
          <li><a href="/allergens/new">Add an Allergen</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/products">View all Products</a></li>
          <li><a href="/products/new">Add a Product</a></li>
        </ul>
      </div>
-->
<!-- End Single button dropdown-->



    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>